# Monorepo
node_modules/
.DS_Store

# Frontend
frontend/.next/
frontend/out/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Backend
backend/venv/
backend/env/
backend/.env
backend/__pycache__/
backend/.pytest_cache/
backend/.coverage
backend/htmlcov/
backend/*.pyc
backend/*.pyo
backend/*.pyd
